:root{
  /* Form colors */
  --form-bg-default: ;
  --form-bg-input: red ; 


  /* Border */
  --form-border-default:#6b6b6b ;
  --form-border-focus:#6d28d9 ;
  --form-border-error:#dc3545 ;

  --text-color:#333;

  --form-checkbox-checked: ;
  --form-checkbox-error: ;
  --form-checkbox-checkmark:  ;

  --form-required-color:  ;
  --form-required-bg: ;

  /* Layout */
  --form-grid-columns: 150px 1fr;
  --form-grid-gap: 4px 10px;
  --form-group-margin-bottom: 18px;
}

/* Form Container */
.ticket-form {
  padding: 25px 30px;
  max-width: 600px;
  width: 100%;
}

/* Form Groups*/
.form-group {
  display: grid;
  grid-template-columns:var(--form-grid-columns) ; 
  grid-template-rows: auto auto; 
  grid-template-areas: 
    "label form-input "
    "error-message error-message ";
  gap:var(--form-grid-gap) ;
  margin-bottom: var(--form-group-margin-bottom) ;
}

.form-label {
  grid-area: label;
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--text-color);
  white-space: nowrap;
  align-content: center;
}


.input-wrapper {
  grid-area: form-input;
  display: flex; 
  position: relative;
}

.input-indicator {
  font-size: 1.2rem;
} 

.selected-files {
  grid-column: 2/4;
  font-size: 0.85rem;
  color: #555;
  margin-top: 4px;
}

.selected-files span{
  display: inline-block;
  background: var(--form-bg-default);
  padding: 2px 6px;
  margin-right: 4px;
  border-radius: 4px;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-left: 160px; 
  margin-top: 4px;
  grid-area: error-message;
}



/* Inputs */
.form-input,
.form-select,
.form-textarea,
.form-file {
  flex: 1;             
  padding: 10px 12px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 0.95rem;
  outline: none;
}

.form-input:focus,
.form-select:focus,
.form-textarea:focus,
.form-file:focus {
  border-color: #6d28d9;
  box-shadow: 0 0 3px rgba(109, 40, 217, 0.4);
}

.form-input:invalid,
.form-select:invalid,
.form-textarea:invalid,
.form-file:invalid {
  border-color: var(--form-border-default);
}


.input-wrapper > input[type="text"],
.input-wrapper > input[type="email"]
.input-wrapper > input[type="tel"]
.input-wrapper > input[type="radio"]
.input-wrapper > input[type="checkbox"]
.input-wrapper > textarea,
.input-wrapper > select {
}

.form-textarea {
  min-height: 100px;
  resize: vertical;
}

/* Fieldset */
.radio-label {
  margin-right: 25px;
  font-size: 0.95rem;
}

.radio-buttons {
  flex: 1;
}

.form-file {
  flex: 1;
  background-color: white;
}

.form-terms {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

/* Submit button */
.btn-submit {
  background: #65558F;
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
  margin-right: 1.2rem;
}

.btn-submit:hover {
  background: #5b21b6;
}

.btn-reset {
  border:1px solid #65558F;
  padding: 12px 28px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
}

.btn-reset:hover {
  background: #5b21b6;
  color: #fff;
}


input[type="radio"],
input[type="checkbox"] {
    accent-color: #65558F;
    transform: scale(1.5);
    margin-right: 0.2rem;
}

.form-terms{
  white-space: nowrap;
}

.terms-link {
  color: #6d28d9;
  white-space: nowrap; 
}


/* Wrap input/select/textarea + icon */
.input-wrapper {
  display: flex;
  align-items: center;
}

/* Inputs keep full width */
.form-input,
.form-select,
.form-textarea,
.form-file {
  flex: 1;             
  padding: 10px 12px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 0.95rem;
  outline: none;
  width: 100%;
}

/* Error icon*/
.input-indicator {
  position: absolute;
  right: 3px;
  font-size: 1.2rem;
  color: red;
  display: none; 
  pointer-events: none;
}

/* Borders */
.invalid {
  border: 2px solid red !important;
}

.valid {
  border: 2px solid green !important;
}

.main-wrapper {
  margin: 1rem auto;
  padding: 12px 35px;

}

/* Selected files */
.remove-file-btn{
  padding: 2px 3px;  
}

.selected-file {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.file-name {
  flex-grow: 1; 
}


