
/*  Main Layout  */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
}

.intro-text {
  text-align: start;
  padding: 15px 30px;
  font-size: 0.95rem;
  color: #333;
}


